/* Estilo del Landing Social */
@font-face {
    font-family:'CaviarDreamsBold';
    src: url('Tipografias/CaviarDreams_Bold.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #e2e2de 80%,rgba(226, 16, 29,0.5));
}


.logo{
    margin: auto;
   background-image: url(Imagenes/20240113-\ LOGO\ PNG.png);
   width: 40vw;
   height: 45vw;
   background-size: cover;
   padding: 10px;
}

.subTitulo h3{
    font-family: 'CaviarDreamsBold',sans-serif;
    text-align: center;
    padding: 10px 5px;
    font-size: 4vw;
}



.boton{
    height: 8vh;
background-color: aqua;
display: flex;
justify-content: center;
margin: 20px 10px;
}

