/* Estilo del Landing Social */
@font-face {
    font-family:'CaviarDreamsBold';
    src: url('Tipografias/CaviarDreams_Bold.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}




body{
  
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation: cambiarFondo 20s infinite;
    
}

@keyframes cambiarFondo {
    0% {
        background-image: url('/Imagenes/fondo/202229_exterior_aragon_1.jpg'); 
        background-size: cover;
    }
    20% {
        background-image: url('/Imagenes/fondo/203045_CATANIA_1.jpg'); 
        background-size: cover;
    }
    40% {
        background-image: url('Imagenes/fondo/203071_MANTELLO_1.jpg'); 
        background-size: cover;
    }
    60% {
        background-image: url('Imagenes/fondo/203072_ALISOS_1.jpg'); 
        background-size: cover;
    }
    80%{
        background-image: url('Imagenes/fondo/203065_ACONNA_BEIGE_1.jpg'); 
        background-size: cover;
    }
    100%{
        background-image: url('Imagenes/fondo/202229_exterior_aragon_1.jpg'); 
        background-size: cover;
    }
   
}

.logo{
    display: flex;
    width: 100vw;
    height: 35vh;
    flex-wrap: wrap;
    background-color: transparent;
}

.imagen{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: transparent;
}

.imagen img{
    position: absolute;
    width: 200px;
    margin: auto;
}

section{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px ;
}
    
section h3{
    font-size: 110%;
    font-family: 'CaviarDreamsBold', sans-serif;
    text-align: center;
}

main{
    background-color: transparent;
    position: absolute;
    top: 35vh;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
main ul{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 8vh;
}

li .articulo{
    display: flex;
    margin: auto;
    width: 80%;
    height: 6vh;
    transform: skew(-30deg);
    align-items: center;
    background-color: #FF0000;
    border: none;
}

.articulo .imagenArticulo{
    position: relative;
    height: 90%;
    width: 14%;
    max-width: 45px;
    transform: skew(30deg);
    margin-left: 20px;
 
    
}

.imagenArticulo img{
    position: relative;
    height: 90%;
}

.articulo h3{
    transform: skew(30deg);
    font-size: 140%;
    position: relative;
    width: 86%;
    color:  #E2E2DE;
    font-weight: bold;
    font-family: 'CaviarDreamsBold', sans-serif;
    

}

button{
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

button:hover{
    transform: scale(1.05) skew(-30deg); 
    box-shadow: 0px 5px 6px 0px #0000006d;
}

button:active{
    background-color: #8d0303;
    transform: scale(0.85) skew(-30deg);
}
button:disabled{
    background-color: #ff0000;
    transform: scale(1) skew(-30deg);
}


footer{
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    background-color:#FF0000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedores{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center
}

.contenedores img{
    position: relative;
    height: 100%;
    margin: 0vh 2vw;
}

.contenedores h5{
    color: #E2E2DE;
    font-family:'CaviarDramsBold',sans-serif ;
    text-align: center;
}